<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/style.css') }}"
    />
    <title>Employee Statistics</title>
  </head>
  <body>
    <div class="login">
      <div class="heading">
        <h2>Employee Statistics</h2>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Employee ID</th>
              <th scope="col">Name</th>
              <th scope="col">Total Spent</th>
            </tr>
          </thead>
          <tbody>
            {% for x in stats %}
            <tr>
              <td>{{ x[0] }}</td>
              <td>{{ x[2] }}</td>
              <td>${{ x[1] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <style>
    body {
      background-color: #212121;
      color: white;
    }
  </style>
</html>
